parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$expected of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 1
			path: tests/Factory/ConverterFactoryTest.php

		-
			message: "#^Unable to resolve the template type ExpectedType in call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\)$#"
			count: 1
			path: tests/Factory/ConverterFactoryTest.php

		-
			message: "#^Method MarcelStrahl\\\\PriceCalculator\\\\Tests\\\\Feature\\\\AddPriceTest\\:\\:dataProviderCanAddCentPrices\\(\\) should return array\\<int, array\\<int, int\\|MarcelStrahl\\\\PriceCalculator\\\\Helpers\\\\Entity\\\\Price\\|string\\>\\> but returns array\\<string, array\\<int, int\\|MarcelStrahl\\\\PriceCalculator\\\\Helpers\\\\Entity\\\\Price\\|string\\>\\>\\.$#"
			count: 1
			path: tests/Feature/AddPriceTest.php

