<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" backupGlobals="false" beStrictAboutCoversAnnotation="true" beStrictAboutOutputDuringTests="true" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutTodoAnnotatedTests="true" verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>./src/Helpers/Converter/ConverterInterface.php</file>
      <file>./src/Factory/ConverterFactoryInterface.php</file>
      <file>./src/PriceCalculatorInterface.php</file>
      <file>./src/UnitConverterInterface.php</file>
      <directory>./src/Helpers/Types</directory>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
    <report>
      <clover outputFile="/tmp/coverage.xml"/>
      <html outputDirectory="/tmp/report" lowUpperBound="35" highLowerBound="70"/>
      <php outputFile="/tmp/coverage.serialized"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuite name="PriceCalculator">
    <directory suffix="Test.php">tests</directory>
  </testsuite>
  <logging>
    <junit outputFile="/tmp/logfile.xml"/>
    <testdoxHtml outputFile="/tmp/testdox.html"/>
    <testdoxText outputFile="/tmp/testdox.txt"/>
  </logging>
</phpunit>
